.DS_Store
.idea
.ipynb_checkpoints/
.vscode
__pycache__/
*.bin
*.pkl
*.pt
*.pyc
input.txt
env/
venv/
runs/
out*

configs/tasks/kv_retrieval.yaml
configs/tasks/selective_count.yaml
configs/tasks/sorting.yaml
configs/tasks/ruler.yaml